aiohttp
aiosignal
attrs
Authlib
beautifulsoup4
bingads
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cryptography
Flask
frozenlist
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
msal
multidict
numpy
oauthlib
packaging
pandas
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
PySocks
python-dateutil
python-oauth2
python-dotenv
pytz
pyu2f
requests
requests-oauthlib
rsa
setuptools
six
soupsieve
suds-community
tabulate
typing_extensions
tzdata
urllib3
Werkzeug
wheel
xarray
yarl
zipp
